In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
# Import API key
import os
import sys
import inspect

sys.path.insert(1, os.path.join(sys.path[0], '..'))
import config

from config import g_key
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [11]:
# 1. Import the WeatherPy_database.csv file. 
f = open(r"/Users/jacobnyamu/UCB Class Folder /World_Weather_Analysis/World_Weather_Analysis/WeatherPy_Database/WeatherPy_Database.csv")

city_data_df = pd.read_csv(f)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,61.90,77,89,12.93,overcast clouds
1,1,Dikson,RU,73.5069,80.5464,-22.02,95,69,11.59,broken clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,50.11,66,75,20.71,broken clouds
3,3,Ambilobe,MG,-13.2000,49.0500,72.90,77,76,3.38,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,76.73,73,43,15.35,scattered clouds

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = 65 #float(input("What is the minimum temperature you would like for your trip? ")) 
max_temp = 85 #float(input("What is the maximum temperature you would like for your trip? "))

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Ambilobe,MG,-13.2000,49.0500,72.90,77,76,3.38,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,76.73,73,43,15.35,scattered clouds
8,8,Banda Aceh,ID,5.5577,95.3222,78.08,82,100,10.33,overcast clouds
13,13,Hithadhoo,MV,-0.6000,73.0833,81.72,76,44,10.00,scattered clouds
15,15,Christchurch,NZ,-43.5333,172.6333,82.60,42,23,5.99,few clouds
17,17,Busselton,AU,-33.6500,115.3333,76.08,42,8,7.25,clear sky
22,22,Sarangani,PH,5.4033,125.4636,82.29,76,69,8.48,broken clouds
23,23,Padilla,CO,3.2204,-76.3139,69.37,95,99,3.76,overcast clouds
27,27,Vao,NC,-22.6667,167.4833,76.98,77,67,13.56,broken clouds
29,29,Airai,TL,-8.9266,125.4092,65.89,82,100,2.91,heavy intensity rain

In [14]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                285
City                   285
Country                282
Lat                    285
Lng                    285
Max Temp               285
Humidity               285
Cloudiness             285
Wind Speed             285
Current Description    285
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                282
City                   282
Country                282
Lat                    282
Lng                    282
Max Temp               282
Humidity               282
Cloudiness             282
Wind Speed             282
Current Description    282
dtype: int64

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Ambilobe,MG,72.90,broken clouds,-13.2000,49.0500,
4,Rikitea,PF,76.73,scattered clouds,-23.1203,-134.9692,
8,Banda Aceh,ID,78.08,overcast clouds,5.5577,95.3222,
13,Hithadhoo,MV,81.72,scattered clouds,-0.6000,73.0833,
15,Christchurch,NZ,82.60,few clouds,-43.5333,172.6333,
17,Busselton,AU,76.08,clear sky,-33.6500,115.3333,
22,Sarangani,PH,82.29,broken clouds,5.4033,125.4636,
23,Padilla,CO,69.37,overcast clouds,3.2204,-76.3139,
27,Vao,NC,76.98,broken clouds,-22.6667,167.4833,
29,Airai,TL,65.89,heavy intensity rain,-8.9266,125.4092,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city. 
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    except (IndexError):
        print("Hotel not found. Skipping...")
        print(hotels)

Hotel not found. Skipping...
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found. Skipping...
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found. Skipping...
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found. Skipping...
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found. Skipping...
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found. Skipping...
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found. Skipping...
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found. Skipping...
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found. Skipping...
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found. Skipping...
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found. Skipping...
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found. Skipping...
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found. Skipping...
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found. Skipping...
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}

KeyboardInterrupt:

In [18]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
g_key

'AIzaSyDWEPe7qkEi0YiAnLrRJdKr5uEFeUAILxo'